<h1>Repos for <%= @user %></h1>

<% if @repos.nil? %>
  <p>Could not find repos</p>
<% elsif !@repos.blank? %>
  <ul>
    <% for repo in @repos %>

      <li><%= link_to(repo['name'], :action => 'commits', :owner => repo['owner']['login'], :repo => repo['name']) %></li>
    <% end %>
  </ul>
<% else %>
  <p>This user has no repos</p>
<% end %>
